@charset 'UTF-8';

/* 전체설정 */

* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
img {
  border: none;
  vertical-align: bottom;
}

body {overflow-x: hidden;}
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position:absolute;
  bottom: 0;
  left: 0;
  display: flex;
  height: 120px;
  align-items: center;
}
header.on {position: fixed;
            top: 0;
        z-index: 9999;}

h1 {width: 30%;
text-align: center;}
nav {width: 70%;
}
nav ul {display: flex;
justify-content: center;}
nav li  {width: 20%;
    cursor: pointer;
    }


.subMenu {
  display: none;
}
.skillMenu {
  display: none;
}

section {
  width: 100%;
}
article {
  height: 800px;
  width: 100%;
  overflow: hidden;
}
article:nth-child(1) {
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
article:nth-child(2) {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

article:nth-child(2) span {position: absolute;
                            }
article:nth-child(2)>div {

    width: 200px;
    height: 600px;
    box-shadow: 2px 2px 5px #000;
    margin: 0 20px;
    transition: all 0.5s;
}

article:nth-child(2)>div.on {transform: translate(0,0);}

.tbox001 {transform: translate(-1500px);}
.tbox002 {transform: translate(0,1200px);}
.tbox003 {transform: translate(1500px);}

article:nth-child(2)>div:hover {box-shadow: 1px 1px 2px #000;}






article:nth-child(3) {
  background-color: lightcoral;
}
article:nth-child(4) {
  background-color: lightskyblue;
}



/* 설명박스 */
.txt {position: fixed;
    
width: 300px;
background-color: rgba(255, 255, 255, 0.5);
right: 0;
top: 30%;
padding: 10px;
}
