@charset "utf-8";

.sub {overflow-x: hidden;
    height: 3000px;}
.sub .box02 {position: fixed;
right:-100%;
width: 250px;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);
transition: all 0.4s;}
.sub .box02.on {right: 0;}


.sub .box02 h3 {width: 100%;
                text-align: center;}
.sub .box02 form {
    
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
.sub .box02 input {}
.sub .box02 .number{width: 150px;
                    height: 40px;
                font-size: 20px;
            padding-left: 20px;
        box-sizing: border-box;
    color: #333;
margin-bottom:20px;
margin-top: 20px;
border: none;
} 
.sub .box02 .button {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 18px;
    background-color: black;
    color: #fff;
}
.sub .txt {
    padding: 20px 10px;
    margin-bottom: 50px;
    font-size: 14px;
}
.sub label {font-weight: bold;
    font-size: 18px;
color: #333;
margin-bottom: 20px;}
.sub .review {padding: 20px 10px;}
.sub .review li {margin-bottom: 10px;}
.sub .review li i{color: #fff;
                    font-size: 14px;}

                    .sub .button02 {width: 150px;
                                    height: 30px;
                                    background-color: #333;
                                color: #fff;
                            border: none;}

.btn {position: fixed;
    right: 0;
    width: 120px;
    height: 150px;
z-index: 999;
background-color: rgba(0, 0, 0, 0.3);
top: 50%;
transition: all 0.5s;
margin-top: -75px;}
.btn.on {right: 250px;}

.btn span {position: absolute;
            font-size: 80px;
        text-align: center;
    width: 100%;
line-height: 1.7;
color: #fff;
opacity: 0.8;
display: none;
animation: ani 0.8s linear alternate infinite;
cursor: pointer;
height: 100%;


}
.btn span.on {display: block;}
.btn span:hover {animation-play-state: paused;}

@keyframes ani {

    0% {transform: scale(1);}
    100% {transform: scale(1.2);
        color: #000;}
}


/* 공지사항 */
.notice {position: fixed;
        left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;}
.notice .txtBox {width: 800px;
                height: 500px;
            background-color: #fff;
            position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -400px;
    margin-top: -250px;
z-index: 10;}
.close {width: 100%;
        height: 100%;
        position: absolute;
    left: 0;
top: 0;

z-index: 5;}